@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body
{
    background-color: rgb(219, 236, 216);
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;

}
    
nav
{
    box-shadow: 1px 4px 8px 20px black;
    background: rgb(240, 249, 227);
}

footer
{

  background: rgb(238, 255, 214);
}
.firstimg
{
    animation-name: FirstCircle;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  

}
@keyframes FirstCircle {
    0%{
           transform: rotate(0);
    }
    100%
    {
         transform: rotate(360deg);
    }
}
.slick-slide > div
{
  margin: 0px 10px;
}